<div class="row text-center m-5">

    <div class="col">

        <img src="/assets/images/login.png">
        <hr>

        <table align="center">
            <tr>
                <td>
                    <label for="usuario">Usuario: </label>
                </td>
                <td>
                    <input type="text" name="usuario">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password">Password: </label>
                </td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
        </table>
        <br>

        <button class="btn boton" type="button" name="ingresar">Ingresar</button>

    </div>


</div>